<footer class="bg-dark text-white py-4">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
    <div class="logo">
      <a href="#">
        <img src="logo.svg" alt="Ahtera Studio Logo" class="h-12">
      </a>
    </div>
    <div class="social-links flex space-x-4">
      <a href="#" class="hover:text-primary transition">
        <svg class="h-6 w-6" viewBox="0 0 24 24">
          <path d="M12 2.1c-5.5 0-10 4.5-10 10 0 4.4 2.8 8.1 6.7 9.4.5.1.7-.2.7-.5 0-.2 0-.9 0-1.8-2.7.6-3.3-1.3-3.3-1.3-.4-1-.9-1.3-.9-1.3-.7-.5.1-.5.1-.5.8.1 1.2.8 1.2.8.7 1.2 1.9.8 2.4.6.1-.5.3-.8.5-1-2.2-.3-4.5-1.1-4.5-4.9 0-1.1.4-2 .9-2.7-.1-.3-.4-1.3.1-2.6 0 0 .8-.3 2.6 1 .7-.2 1.4-.3 2.1-.3s1.4.1 2.1.3c1.8-1.3 2.6-1 2.6-1 .5 1.3.2 2.3.1 2.6.6.7.9 1.6.9 2.7 0 3.8-2.3 4.6-4.5 4.9.3.3.6.8.6 1.6 0 1.2 0 2.2 0 2.5 0 .3.2.6.7.5 3.9-1.3 6.7-5 6.7-9.4 0-5.5-4.5-10-10-10z"/>
        </svg>
      </a>
      <a href="#" class="hover:text-primary transition">
        <svg class="h-6 w-6" viewBox="0 0 24 24">
          <path d="M23 2.1c-.8.4-1.6.7-2.4.8a4.3 4.3 0 0 0 1.9-2.4 8.4 8.4 0 0 1-2.6 1 4.3 4.3 0 0 0-7.3 3.9 12 12 0 0 1-8.8-4.5 4.3 4.3 0 0 0 1.3 5.7 4.2 4.2 0 0 1-2-.5v.1c0 2.1 1.5 3.8 3.4 4.2a4.3 4.3 0 0 1-1.9.1c.5 1.6 2 2.8 3.7 2.8A8.7 8.7 0 0 1 2 18.1a12 12 0 0 0 6.5 1.9c7.8 0 12.1-6.5 12.1-12.1 0-.2 0-.4 0-.6a8.6 8.6 0 0 0 2-2.2c-.8.4-1.6.7-2.4.8z"/>
        </svg>
      </a>
      <a href="#" class="hover:text-primary transition">
        <svg class="h-6 w-6" viewBox="0 0 24 24">
          <path d="M12 2.1c-5.5 0-10 4.5-10 10 0 4.4 2.8 8.1 6.7 9.4.5.1.7-.2.7-.5 0-.2 0-.9 0-1.8-2.7.6-3.3-1.3-3.3-1.3-.4-1-.9-1.3-.9-1.3-.7-.5.1-.5.1-.5.8.1 1.2.8 1.2.8.7 1.2 1.9.8 2.4.6.1-.5.3-.8.5-1-2.2-.3-4.5-1.1-4.5-4.9 0-1.1.4-2 .9-2.7-.1-.3-.4-1.3.1-2.6 0 0 .8-.3 2.6 1 .7-.2 1.4-.3 2.1-.3s1.4.1 2.1.3c1.8-1.3 2.6-1 2.6-1 .5 1.3.2 2.3.1 2.6.6.7.9 1.6.9 2.7 0 3.8-2.3 4.6-4.5 4.9.3.3.6.8.6 1.6 0 1.2 0 2.2 0 2.5 0 .3.2.6.7.5 3.9-1.3 6.7-5 6.7-9.4 0-5.5-4.5-10-10-10z"/>
        </svg>
      </a>
      <a href="#" class="hover:text-primary transition">
        <svg class="h-6 w-6" viewBox="0 0 24 24">
          <path d="M15 2H9A7 7 0 0 0 2 9v6a7 7 0 0 0 7 7h6a7 7 0 0 0 7-7V9a7 7 0 0 0-7-7zm-3.8 15.2H8.5V9.3h2.7v7.9zm-1.3-9.4h-.1A1.6 1.6 0 1 1 10 6.1a1.6 1.6 0 0 1-.1 1.7zm8.6 9.4h-2.4v-4.1c0-1-.4-1.6-1.2-1.6s-1.4.6-1.6 1.2c-.1.2-.1.5-.1.8v3.7H11v-7.9h2.4v1.3c.3-.5 1-.8 1.6-.8 1.2 0 2 1 2 2.7v4.7z"/>
        </svg>
      </a>
    </div>
  </div>


<div>
 <img src="https://raw.githubusercontent.com/EdilAhtera/ahtera/main/images/1723537792379.png" alt="img png" style="width:auto; height:50px;">

<p style="text-align:left; font-size: 0.5em; text-transform: uppercase; color: gray;">About Ahtera</p>
<p style="text-align:left; font-size: 0.5em; text-transform: uppercase; color:gray;">
Ahtera Studio is a leading development studio specializing in integrated digital solutions, including web development, application development, and graphic design. Committed to delivering the highest quality, Ahtera Studio combines innovation with the latest technology in every project we undertake. Our team of professionals, consisting of designers, developers, and strategists, works collaboratively to provide creative solutions that meet your business needs. We strive to deliver results that not only meet but exceed client expectations, ensuring that every product we develop perfectly represents your company's identity and vision.</p>

<p style="text-align:left; font-size: 0.8em; color: gray;">#BeyondBordersWithAhtera</p>
 </div>

  <div class="copyright text-center mt-4" style="color:gray;">
    <p>&copy; 2017 - <span id="year"></span> Ahtera Studio. All Rights Reserved.</p>
  </div>
</footer>
