<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" href="favicon.png" type="image/png">
 <link rel="manifest" href="manifest.json">
  <title>{{ page.title }}</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="redirect.js"></script>

  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
      background-color: #FFFFFF;
    }

/* Buat ngehilangin tap highlight di iOS */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

/* Buat ngehilangin focus outline di semua browser */
:focus {
  outline: none;
}
</style>
</head>
<body>
    {% include header.html %}
    <main>
            {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>
